.App {
  padding: 40px 108px 73px 52px;
  box-sizing: border-box;
}

.fleet {
  margin-bottom: 24px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.MuiPopover-paper {
  margin-top: 4px;
  padding-bottom: 18px;
  border-radius: 8px !important;
}
.MuiPopover-paper .MuiMenu-list {
  padding: 0;
}
.MuiPopover-paper .MuiOutlinedInput-root {
  height: 32px;
  border-radius: 8px;
  margin: 8px 8px 12px 8px;
}
.MuiOutlinedInput-root input {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.17px;
  line-height: 20px;
}
.MuiOutlinedInput-root input::placeholder,
.MuiOutlinedInput-root input::-webkit-input-placeholder,
.MuiOutlinedInput-root input::-moz-placeholder,
.MuiOutlinedInput-root input::-ms-input-placeholder {
  color: var(--grey-400-color) !important;
}
.MuiOutlinedInput-root:has(#filter-input) {
  background-color: #eeeeee;
}
.MuiMenu-list .MuiOutlinedInput-notchedOutline {
  border-width: 0px !important;
}
.MuiOutlinedInput-input {
  display: flex !important;
  align-items: center !important;
}
.MuiSelect-select > svg {
  display: none;
}
